# OOP

# OBJECTS & CLASSES

In [22]:
class student():
    name="Abdul Rehman"
    roll_no=1020
    course='Data Sciences'
    location="Gulshan"
    
    def study(self):
        print(f"Abdul Rehman in studying")
    
    def exam(self):
        print(f"Abdul Rehman is giving an exam ")
    
    def fee(self):
        print(f"Abdul Rehman is submitted his fee ")

In [7]:
student.name

'Abdul Rehman'

In [8]:
student.roll_no

1020

In [9]:
student.course

'Data Sciences'

In [10]:
student.location

'Gulshan'

In [13]:
student.study()

Abdul Rehman in studying

In [14]:
student.exam()

Abdul Rehman is giving an exam

In [15]:
student.fee()

Abdul Rehman is submitted his fee

In [23]:
s1=student()

In [24]:
s1.name

'Abdul Rehman'

In [25]:
s1.location

'Gulshan'

In [26]:
s1.study()

Abdul Rehman in studying

In [27]:
s1.exam()

Abdul Rehman is giving an exam

In [46]:
class Teacher():
    def __init__(self,name,teach_class,school):
        self.name=name
        self.teach_class=teach_class
        self.school=school
        
    def names(self):
        print(f"my name is {self.name}")
        
    def teach(self):
        print(f"i am teaching class{self.teach_class}")
        
    def schools(self):
        print(f"i am from {self.school} school")

In [47]:
a1=Teacher('abdullah',8,'educator')

In [48]:
a1.name

'abdullah'

In [49]:
a1.names()

my name is abdullah

In [50]:
a1.teach()

i am teaching class8

In [53]:
a1.schools()

i am from educator school

In [54]:
a2=Teacher('Abdul Rehman',9,'Becon Askari')

In [55]:
a2.name

'Abdul Rehman'

In [58]:
a2.teach_class

9

In [59]:
a2.school

'Becon Askari'

In [60]:
a2.names()

my name is Abdul Rehman

In [62]:
a2.teach()

i am teaching class9

In [63]:
a2.schools()

i am from Becon Askari school