# Tuple

In [19]:
Tuple=()

In [20]:
type(Tuple)

tuple

In [1]:
marks=(1,2,3,4,5)

marks

(1, 2, 3, 4, 5)

In [2]:
marks[1]

2

In [4]:
marks[3]

4

In [5]:
marks[3]="Abdul Rehman" #can't update the value

TypeError: 'tuple' object does not support item assignment

# Mixed objects in Tuple

In [6]:
school=([102,102,101,103,107],{'Abdul Rehman':67,'Abdullah':78,'Ameen':89,'Abdullah':92},
        (12,13,45,56),'Mehmood',False)

school

([102, 102, 101, 103, 107],
 {'Abdul Rehman': 67, 'Abdullah': 92, 'Ameen': 89},
 (12, 13, 45, 56),
 'Mehmood',
 False)

In [7]:
school[1]

{'Abdul Rehman': 67, 'Abdullah': 92, 'Ameen': 89}

In [10]:
school[0][2]=678   #update the list value in the tuple but can't be able to update tuple

In [11]:
school[0]

[102, 102, 678, 103, 107]

In [12]:
school[1]

{'Abdul Rehman': 67, 'Abdullah': 92, 'Ameen': 89, 2: 678}

In [13]:
school[1][1]='Usman' #add the value to dictionary in the tuple

In [14]:
school[1]

{'Abdul Rehman': 67, 'Abdullah': 92, 'Ameen': 89, 2: 678, 1: 'Usman'}

In [18]:
school[1]['Ameen']

89

# Sets

In [21]:
number={1,2,3,4}

type(number)

set

In [22]:
number

{1, 2, 3, 4}

In [24]:
number.add(5)

In [25]:
number

{1, 2, 3, 4, 5}

In [26]:
list1=[22,33,45,22,67,33]

list1

[22, 33, 45, 22, 67, 33]

In [27]:
set(list1) #on conversion of list into set so it saves only a unique value that means, 
            #it saves only a unique value in a set

{22, 33, 45, 67}